<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательский интерфейс</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	{% block head %}
	{% endblock %}
</head>
<body>
    <div id="login-form" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/auth/token" method="POST">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>
    <div id="register-form" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/auth/signup" method="POST">
                <label for="fullname">ФИО:</label>
                <input type="text" id="fullname" name="full_name" required>
                <label for="username">Логин:</label>
                <input type="text" id="reg_username" name="username" required>
                <label for="password">Пароль:</label>
                <input type="password" id="reg_password" name="password" required>
                <label for="reg_confirm-password">Повторите пароль:</label>
                <input type="password" id="reg_confirm-password" name="password_confirm" required>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <header>
        <nav>
            <div class="nav-links">
                <!-- Место для других ссылок в меню, если нужно -->
            </div>
            <div class="auth">
                {% if token %}
                <span id="user-greeting" style="display:block;">Здравствуйте, <span id="user">{{ token }}</span></span>
                <button onclick="login()" id="login-btn" style="display:none;">Войти</button>
                <button onclick="register()" id="register-btn" style="display:none;">Регистрация</button>
                <button onclick="logout()" id="logout-btn" style="display:block;">Выйти</button>
                {% else %}
                <span id="user-greeting" style="display:none;">Здравствуйте, <span id="user">{{ token }}</span></span>
                <button onclick="register()" id="register-btn">Регистрация</button>
                <button onclick="login()" id="login-btn">Войти</button>
                <button onclick="logout()" id="logout-btn" style="display:none;">Выйти</button>
                {% endif %}
            </div>
            {% if token %}
            <div class="sign-up" style="display:none;">
            {% else %}
            <div class="sign-up" style="display:block;">
            {% endif %}


        </nav>
    </header>
    <main>
        {% if token %}
        <table id="clients-table" style="display:block">
        {% else %}
        <table id="clients-table" style="display:none;">
        {% endif %}
            <thead>
                <tr>
                    <th>Номер счета</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>ИНН</th>
                    <th>ФИО ответственного</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.account_number }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.first_name }}</td>
                    <td>{{ client.middle_name }}</td>
                    <td>{{ client.birth_date }}</td>
                    <td>{{ client.inn }}</td>
                    <td>{{ client.responsible_user.full_name }}</td>
                    <td>
                        <form method="post" action="/update-status">
                            <input type="hidden" name="client_id" value="{{ client.id }}">
                            <select name="status">
                                <option value="NOT_IN_WORK" {% if client.status == Status.NOT_IN_WORK %}selected{% endif %}>Не в работе</option>
                                <option value="IN_WORK" {% if client.status == Status.IN_WORK %}selected{% endif %}>В работе</option>
                                <option value="DENIED" {% if client.status == Status.DENIED %}selected{% endif %}>Отказ</option>
                                <option value="DEAL_CLOSED" {% if client.status == Status.DEAL_CLOSED %}selected{% endif %}>Сделка закрыта</option>
                            </select>
                            <button type="submit">Изменить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="{{ url_for('static', path='js/app.js')}}"></script>
</body>
</html>
